<html>
<head>

    {% block title %}
    {% endblock %}
    
        {% block javascript %}
            <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery-1.8.2.min.js' ) }}" ></script>
            <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery-1.8.2.js' ) }}" ></script>
            <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery.fancybox.js' ) }}" ></script>
            <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery.form.js' ) }}" ></script>
            <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery.Jcrop.min.js' ) }}" ></script>
            <script src="{{ asset ( 'bundles/itcadmin/js/plugins/select2.min.js' ) }}" ></script>
             <script src="{{ asset ( 'bundles/itckids/js/bootstrap.js' ) }}" ></script>
             <script src="{{ asset ( 'bundles/itckids/js/content.js' ) }}" ></script>
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}

        {% block css %}
            
            <link rel="stylesheet" href="{{ asset ( 'bundles/itckids/css/kidsCss.css' ) }}" />
            <link rel="stylesheet" href="{{ asset ( 'bundles/itckids/css/bootstrap.css' ) }}" />
            <link rel="stylesheet" href="{{ asset ( 'bundles/itckids/css/docs.css' ) }}" />
            <link rel="stylesheet" href="{{ asset ( 'bundles/itckids/css/bootstrap-responsive.css' ) }}" />

        {% endblock %}
              {#  <style type="text/css">
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
                .sidebar-nav {
                    padding: 9px 0;
                } </style>#}
               
</head>

<body>
    
        {% block body %}

        {% endblock %}
</body>

</html>