{% block prod_groups %}
<script src="{{ asset ( 'bundles/itckids/js/content.js' ) }}" ></script>
<link rel="stylesheet" href="{{ asset ( 'bundles/itckids/css/kidsCss.css' ) }}" />

        <div class="load_template">
        <form action="{{ path('product_edit_template', { 'id': id}) }}" method="post" {{ form_enctype(list_template) }}>
            {{ form_widget(list_template) }}
                <input type="hidden" name="route" value="product_edit_template"/>
            <p>
                <input type="submit" value="Применить" class="save_template"/>
            </p>
        </form>
        <br />
        <div class="load_template_data" ></div>
        </div>
{% if entities is defined %}
{% for entity in entities %}
                 <form action="{{ path('attributs_for_prod_update', {'id':  entity.id, 'prodid': id }) }}" method="post" {{ form_enctype(edit_form[entity.id]) }} class="attr_save_form_{{entity.id}}">
                  <table class="table table-hover table-condensed">
                      {{ form_widget(edit_form[entity.id].default)}}
                      {{ form_widget(edit_form[entity.id].lists)}}
                    <tbody>
                        <tr>
                            <td>
                                    <div class="input-append">
                                        {{ form_widget(edit_form[entity.id].name,{ 'attr' : { 'class' : 'input-xlarge'} })  }}
                                      
                                    </div>
                             </td>  
                             <td>
                                    {{ form_widget(edit_form[entity.id].attrtype)}}
                             </td> 
                             <td>
                                 {% if  edit_form[entity.id].attrvalues|length > 1%}
                                      {% for attrvalue in edit_form[entity.id].attrvalues %}
                                     {% set ckeck %}
                                        {% if checkeds[attrvalue.get("value")]!='1' %}
                                             {% else %}
                                              checked="checked"
                                         {% endif %}
                                              {% endset %}
                                       <p>{{ form_widget(attrvalue) }} {{ form_label(attrvalue) }} 
                                       <input type="checkbox" rel="{{mainid[attrvalue.get("value")]}}" value="{{ id }}" {{ ckeck }} onclick="Reset($(this))"/></p> 
                                     
                                        {% endfor %}
                                 {% else %}
                                     {{ form_widget(edit_form[entity.id].attrvalues)}}
                                 {% endif %}
                                {%set style%}
                                    {% if edit_form[entity.id].default.get('value')=='1' %}
                                    {% else %}
                             style="display:none"
                                 {% endif %}
                             {%endset%}
                      
                    {% if edit_form[entity.id].lists.get('value')=='1' and  edit_form[entity.id].default.get('value')=='1'  %}         
                    <p {{ style }}>
                        <a href="{{path('attributsvalue_new', { 'id':  entity.id , 'type':'product', 'someid': id }) }}" class="btn btn-success btn-mini pull-right">
                            <i class="icon-plus-sign"></i>
                            Добавить значение
                        </a>
                    </p>
                    {% endif %}
                    {% if edit_form[entity.id].lists.get('value')!='1' and  edit_form[entity.id].default.get('value')=='1'  %}  
                         <input type="submit" value="Сохранить" {{ style }} class="attr_save{{entity.id}}"/>
                    {% endif %}
                             </td>
                    {{ form_widget(edit_form[entity.id]._token) }}
                             
                        
                   
                    </tbody>
                  </table>
                </form>
                {% if edit_form[entity.id].default.get('value')=='1' %}
                <form action="{{  path('attributs_delete', { 'templid': templid, 'id': entity.id, 'type': 'product', 'someid': id }) }}" method="post">
                    {{ form_rest(delete_form[entity.id]) }}
                        <input type="submit" value="Удалить" class="attr_save{{entity.id}}"/>
                </form> 
                {% endif %}
<br /><br /><br />
    {% endfor %}
{% endif %}

 <form action="{{ path('delete_attr_prod', { 'id': id }) }}" method="post" id="form_ckeck">
                                                {{ form_widget(check_form) }}
 </form>

                <div class="modal-body" style="border:1px solid black">
                <form action="{{ path('attributs_create_for_prod', { 'prodid': id }) }}" method="post" {{ form_enctype(form_add_prod_tov) }} class="form_attr">
                <p>
                    {{ form_widget(form_add_prod_tov) }}
                </p>
                <br />
                <p>
                   Первы елемент для списка: <input type="text" name="first_element" />
                </p>
                <p>
                   <input type="submit" name="Сохранить" value="Сохранить"/>
                </p>
                </form>
                </div>
{% endblock %}  