{% extends 'ItcAdminBundle::layout.html.twig' %}
{% block menu %}
{% endblock %}
{% block body %}
{% block styles %}
<style>

.hidden_loader {
       cursor: pointer;
    height: 60px;
    left: -10px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: 80px;
    z-index: 5;
}
</style>
{% endblock %}
<form action="{{ path('shipping_delete', { 'id': entity.id }) }}" method="post" class="delete_ship">
    {{ form_widget(delete_form) }}
</form>
<div class="form-title form-title-ins">
        <div class="form-title-content">
                <form id = 'ms_edit_icon' action="{{ path('shipping_update_image', { 'id': entity.id }) }}" method="post" {{ form_enctype(image_form) }}>
                    {{form_errors(image_form)}}
                    <div class = 'menu_sys_icon_loader'>
                        {% if entity.iconImage is not null %}
                            <img  class = 'menu_sys_iconImage' style = 'z-index: 0;' src = '{{ vich_uploader_asset(entity, 'iconImage') | apply_filter('my_thumb') }}?0328478327489' />
                        {% else %}
                            <i class="item-edit-icon"></i>
                        {% endif %}
                        <div> 
                            {{ form_widget( image_form["iconImage"], { 'attr': { 'class': 'hidden_loader' } } ) }}
                        </div>
                            {{ form_rest(image_form) }}
                    </div>
                </form>
                 {% if entity.iconImage is not null %}
               {% else %}
                {% endif %}
                
                    {{ form_widget( image_form["iconImage"], { 'attr': { 'class': 'hidden_loader' } } ) }}
                
                    {{ form_rest(image_form) }}
                <div class="item-controls">
                        <a href="#" class="save-item" title="Сохранить" onclick="$('.menu-items-form').submit()"></a>
                        <a href="#" class="del-item" title="Удалить" onclick="$('.delete_ship').submit()"></a>
                        <div class="clear"></div>
                </div>
                <span class="title">Редактирование метода доставки</span>
                <span></span>
                <div class="clear"></div>
        </div>
</div><!-- .form-title -->
<br />
 <form action="{{ path('shipping_update', { 'id': entity.id }) }}" method="post" class="menu-items-form"  style="top:40px; padding-top:0px;" {{ form_enctype(edit_form) }}>  
<div class="menu-item-info">

    <div class="item-info">
            <label for="item-tag">Название</label>
            {{ form_widget( edit_form.title ) }}
    </div>
    <div class="item-info">
            <label for="pid">Код</label>
            {{ form_widget( edit_form.kod ) }}
    </div>
    <div class="item-info">
            <label for="code">Цена</label>
            {{ form_widget( edit_form.price ) }}
    </div>

</div>
{{ form_rest(edit_form) }}
</form>

{% endblock %}