{% extends 'ItcAdminBundle::layout.html.twig' %}

{% block body %}
<div id="resizable"><!-- resizable -->
        <div class="menu-items-form">
                <div class="form-title">
                        <div class="form-title-content">
                                <div class="search-by-title">
                                        <label for="title-text">Методы доставки</label>
                                </div>
                                <div class="view-item-count">
                                </div>
                                <a href="{{ path( 'shipping_new') }}" title="Добавить пункт" class="green-button top-right new_window">
                                        <span class="left"></span>
                                        <span class="right">
                                                Добавить доставку
                                        </span>
                                </a>
                                <div class="clear"></div>
                        </div>
                </div>
                <div class="inside-bearcrumbs">
                </div>
                <table class="menu-items-table zebra">
                        <thead>
                                <tr>
                                        <td>
                                                <div>{{ "id"|trans }}</div>
                                        </td>
                                        <td>
                                                <div>{{ "kod"|trans }}</div>
                                        </td>
                                        <td>
                                                <div>Цена</div>
                                        </td>
                                        <td>
                                                <div>{{ "title"|trans }}</div>
                                        </td>
                                        <td>
                                                <div>{{ "actions"|trans }}</div>
                                        </td>
                                </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                        <td>{{ entity.id }}</td>
                                        <td>{{ entity.kod }}</td>
                                        <td>{{ entity.price }}</td>
                                        <td>
                                                <a href="{{ path( 'shipping_edit', { 'id': entity.id }) }}" class="new_window">
                                                    <i class="icon"></i>{{ entity.getTitle() }}
                                                </a>
                                        </td>
                                        <td>
                                                <div class="controls-table">
                                                        <a href="{{ path( 'shipping_edit', { 'id': entity.id }) }}" title="Изменить" class="chenge new_window"><i></i>{{ "edit"|trans }}</a>
                                                        {#<a href="#" title="Удалить" onclick="$('#product_delete_{{entity.id}}').submit()" class="del-item"><i></i>{{ "delete"|trans }}</a>#}
                                                </div>
                                        </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                </table>
                  <a href="{{ path( 'shipping_new') }}" title="Добавить пункт" class="green-button top-right new_window">
                        <span class="left"></span>
                        <span class="right">
                                Добавить доставку
                        </span>
                </a>
                <div class="clear"></div>
        </div>
</div><!-- .resizable -->
{% endblock %}