{% block body %}

{% block menu_sys_header %}
<h1 class='menu_sys_h1'>{{ "BannerImg list"|trans({}, "banner") }}</h1>
{% endblock %}
<div class = 'menu_sys_main_conteiner'>
    
{% block navigation %} 
    {% include 'ItcAdminBundle::addnew.html.twig' with {'route': route} %}
{% endblock %} 
{% block table %}  

<table class="records_list" id="bannerimg_list">
    <thead>
        <tr>
            <th>{{ "Id"|trans({}, "banner") }}</th>
            <th>{{ "Image"|trans({}, "banner") }}</th>
            <th>{{ "Alt"|trans({}, "banner") }}</th>
            <th>{{ "Kod"|trans({}, "banner") }}</th>
            <th>{{ "Visible"|trans({}, "banner") }}</th>
            <th>{{ "Actions"|trans({}, "banner") }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr id ="tr_{{ entity.id }}">
            <td><a href="{{ path('bannerimg_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td><img  src = '{{ vich_uploader_asset(entity, 'image') }}' ></td>
            <td>{{ entity.alt }}</td>
            <td>{{ entity.kod }}</td>
            <td>                
                <form style = 'display:inline-block' action="{{ path('bannerimg_update_visible', { 'id': entity.id }) }}" method="post">
                    <div class = 'hide'>
                        {% set visible = visible_form[entity.id]['visible'] %}
                        {{ form_label(  visible ) }}
                        {{ form_errors( visible ) }}
                    </div>

                    {{ form_widget( visible, { 'attr': { 'class': 'checkbox_update_visible' } } ) }}
                    {{ form_rest(visible_form[entity.id]) }}
                </form>
            </td>
            <td>
                {% if loop.first == false %}
                    <div class="link_block">
                        <a class="menu_sys_up change_position_object"
                           data-form="#bannerimg_kod_{{entity.id}}"
                           data-link="#bannerimg_list"
                           data-action="up"></a>
                    </div>
                {% else %}
                    <div class="link_block" style="width: 18px; height: 14px;"></div>
                {% endif %}
                {% if loop.last == false %}
                    <div class="link_block">
                        <a class="menu_sys_down change_position_object"
                           data-form="#bannerimg_kod_{{entity.id}}"
                           data-link="#bannerimg_list"
                           data-action="down"></a>
                    </div>                
                {% else %}
                    <div class="link_block" style="width: 18px; height: 14px;"></div>
                {% endif %}                
                <a class = 'menu_sys_edit new_window' target= '_blank' href="{{ path('bannerimg_edit', { 'id': entity.id }) }}">{{ "edit"|trans }}</a>
                <a class = 'menu_sys_delete delete_object'
                   data-link="#tr_{{entity.id}}" data-form="#bannerimg_delete_{{entity.id}}">
                    {{ "delete"|trans }}</a>              
                <form id="bannerimg_delete_{{entity.id}}" action="{{ path('bannerimg_delete_ajax', { 'id': entity.id }) }}" method="post">
                    {{ form_rest(delete_form[entity.id]) }}
                </form>                
                <form id="bannerimg_kod_{{entity.id}}" style ="display:inline-block" action="{{ path( 'bannerimg_change_kod', { 'id': entity.id }) }}" method="post">
                    {{ form_widget( change_kod_form[entity.id] ) }}
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
        {{ block("navigation") }}
    
    <br class="clr" />
    </div>
{% endblock %}
