<table class="table table-hover table-condensed">
    <tbody>
          <tr>
            <th style="width:380px; text-align: center">Атрибут</th>
            <th style="width:320px;">Тип</th>
            <th>Значения</th>
          </tr>
    </tbody>
</table>
 {% for entity in entities %}
                 <form action="{{ path('attributs_update', {'templid': templid, 'id':  entity.id }) }}" method="post" {{ form_enctype(edit_form[entity.id]) }} class="attr_save_form_{{entity.id}}">
                  <table class="table table-hover table-condensed">
                    <tbody>
                        <tr>
                            <td>
                                    <div class="input-append">
                                        {{ form_widget(edit_form[entity.id].name,{ 'attr' : { 'class' : 'input-xlarge'} })  }}
                                       <div style="display:none"> {{ form_widget(edit_form[entity.id].kod)  }}</div>
                                         <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                                        Действие
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                        <li><a href="#attr_save{{entity.id}}"  onclick="$('.attr_save{{entity.id}}').trigger('click')"><i class="icon-edit"></i>Сохранить</a></li>
                                        <li><a href="#" onclick="$('.delete_attr_{{entity.id}}').trigger('click')"><i class="icon-remove"></i>Удалить</a></li>
                                       {% if loop.index!=loop.first %} <li><a class="template_up change_position_object_template" data-action="up" data-link="#bs-docs-example" data-form="#template_kod_{{entity.kod}}"><i class="icon-arrow-up"></i>Вверх</a></li>{% endif %}
                                       {% if loop.index!=loop.last %} <li><a class="template_down change_position_object_template" data-action="down" data-link="#bs-docs-example" data-form="#template_kod_{{entity.kod}}"><i class="icon-arrow-down"></i>Вниз</a></li>{% endif %}
                                        <a href=""></a></ul><a href="">
                                        </a></div>
                                          
                                    </div>
                             </td>  
                             <td>
                                    {{ form_widget(edit_form[entity.id].attrtype)}}
                             </td> 
                             <td>
                            {% for attrvalue in edit_form[entity.id].attrvalues %}
                                     {% set buttons %}
                                        <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                                        Действие
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                        <li><a href="{{ path('attributsvalue_delete', { 'id': attrvalue.id.get('value') }) }}"><i class="icon-remove"></i>Удалить</a></li>
                                        <li><a href=""><i class="icon-arrow-up"></i>Вверх</a></li>
                                        <li><a href=""><i class="icon-arrow-down"></i>Вниз</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">По умолчанию 
                                                 {{ form_widget(attrvalue.is_default) }}</a></li><a href="">
                                        </a></ul><a href="">
                                        </a></div>
                                     {% endset %}
                                     <div class="input-append">
                                    {{ form_widget(attrvalue.value) }} 
                                        {% if edit_form[entity.id].attrtype.get('value')==1%}
                                        {% else %}     
                                             {{ buttons }}
                                        {% endif %}
                                      </div>
                  
                                     <div style="display:none"> {{ form_widget(attrvalue.kod) }}</div>
                            {% endfor %}
                    {% set addvalue %}
                    <p>
                         <a href="{{path('attributsvalue_new', { 'id':  entity.id }) }}" class="btn btn-success btn-mini pull-right">
                             <i class="icon-plus-sign"></i>
                             Добавить значение
                         </a>
                    </p>
                    {% endset %}
                    {% if edit_form[entity.id].attrtype.get('value')==1 and edit_form[entity.id].attrvalues|length != 0%}
                                        {% else %}     
                                             {{ addvalue }}
                    {% endif %}
                             </td>
                    {{ form_widget(edit_form[entity.id]._token) }}
                         <input type="submit" value="Сохранить" style="display:none" class="attr_save{{entity.id}}"/>
                        
                   
                    </tbody>
                  </table>
                </form>
                  <form action="{{ path('change_attr_kod', { 'id': entity.id }) }}" method="post" {{ form_enctype(kod_form[entity.id]) }} id="template_kod_{{kod_form[entity.id].kod.get("value")}}">
                                                {{ form_widget(kod_form[entity.id]) }}
                  </form>
               <form action="{{ path('attributs_delete', { 'templid': templid, 'id': entity.id }) }}" method="post" style="display:none">
                    <input type="submit" value="Удалить" class="delete_attr_{{entity.id}}"/>
                    {{ form_rest(delete_form[entity.id]) }}
                </form>
            
    {% endfor %}

  <p>
      <div class="row-fluid">
          <a data-toggle="modal" href="#AddAttr" class="btn btn-success"><i class="icon-plus"></i> Добавить атрибут</a>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="AddAttr" style="display: none;">
                    {% render 'ItcKidsBundle:Template/Attr:new' with { 'templid': templid } %}
                </div>
				
	</div>
  </p>