<h1>Template\Attr list</h1>

<table class="records_list">

    {% for entity in entities %}
       
                 <form action="{{ path('attributsvalue_create', { 'id':  entity.id }) }}" method="post" {{ form_enctype(edit_form[entity.id]) }}>
                 {{ form_widget(edit_form[entity.id]) }}
                    <p>
                        <button type="submit">Create</button>
                    </p>
                </form>
                <ul>
                    <li>
                        <a href="{{ path('attributs_edit', { 'templid': templid, 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
          

    {% endfor %}
 

<ul>
    <li>
        <a href="{{ path('attributs_new', { 'templid': templid }) }}">
            Create a new entry
        </a>
    </li>
</ul>
